@font-face{
    font-family:'UniversL' ;
    src: url('UniversLTStd-BoldEx.ttf')
  }
  body{font-family:'UniversL'}
  br{font-family:'UniversL'}

  .center {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color:rgb(1, 1, 1)
  } 

  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }
  .outer
{
  height: 20px;
  width: 90px;
  border: 1px solid #000;
}
a{
    text-decoration-line: none;
}
<div>
a:link{color:black;}
a:hover{color:black;}
a:visited{color:black;}
a:active{color:black;}
</div>
